PORT=5002
DB_URL=your_database_url_here
UPLOAD_SERVICE=your_upload_service_url_here
JWT_SEC=your_jwt_secret_here
FRONTEND_URL=your_frontend_url_here
# Optional: For local development. Leave empty for production to disable Redis
REDIS_URL=your_redis_url_here
ADMIN_SECRET_KEY=your_admin_secret_key_here