PORT=5003
DB_URL=your_database_url_here
UPLOAD_SERVICE=your_upload_service_url_here
JWT_SEC=your_jwt_secret_here
REDIS_URL=your_redis_url_here
REDIS_HOST=your_redis_host_here
REDIS_PORT=your_redis_port_here
REDIS_PASSWORD=your_redis_password_here
RESEND_API_KEY=re_JMaXBpcm_EA9y4aFAEnNabRTxEvhQxxb5