PORT=5003
DB_URL=your_database_url_here
UPLOAD_SERVICE=your_upload_service_url_here
USER_SERVICE_URL=your_user_service_url_here
JWT_SEC=your_jwt_secret_here
# Optional: For local development and Bull Queue. Leave empty for production
REDIS_URL=your_redis_url_here
FRONTEND_URL=your_frontend_url_here
ADMIN_SECRET_KEY=your_admin_secret_key_here
# Email configuration for Nodemailer
EMAIL_USER=Your Gmail address for sending emails (e.g., your-email@gmail.com)
EMAIL_PASSWORD=Your Gmail app password (generate from Google Account settings)